Create Server, or Server Properties: Space in the end or beginning causes connection problem (RM #7127)

***Issue migrated from Redmine: https://redmine.postgresql.org/issues/7127***
*Originally created by **Tomi Panula-Ontto** at 2022-01-17 14:26:31 UTC.*

Re-produce:
1) add new or modify old server configuration
2) add space in the end, or beginning, of the Hostname/address under the Connection tab. 
3) click "Save" to save the configuration 
4) try to connect to the server
5) upon connecting you will get an error message:
could not translate host name " 10.168.8.70" to address: nodename nor servname provided, or not known

Interestingly: if you put the same exact address to the Advanced tab Host address -field, you will get an immediate explanatory error message: "Host address must be valid IPv4 or IPv6 address".
Rules for hostname are discussed in: RFC 952, RFC 1123, RFC 1178, RFC 2181, RFC 7816

Space character is not legal character in hostname/address -field, and should display an error message when entered.


Issue closed on Redmine.